.subject-checkboxes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
    border-radius: 8px;
}
.subject-checkboxes li {
    background-color: gray;
    padding: 4px 6px;
    border-radius: 20px;
    color: white
    ;
}

.board .search-wrapper{
    flex-wrap: wrap !important;
}

.board .search-wrapper .span{
    overflow-wrap: break-word;
  word-wrap: break-word; /* For wider browser support */
  display: block !important;
}
