 .wrapper {
    border-radius: 0 !important;
    border-bottom: 1px solid black !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    outline: none !important;
}

 .wrapper:hover{
    box-shadow: unset !important;
}

 .sc-fqkvVR svg{
    display: none !important;
    border-bottom: 1px solid black;
}
.search .wrapper:first-child svg{
    display: none;
}